{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe{% endblock %}

{% block body %}
    <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
            {% include 'account/_menu.html.twig' %}
        </div>
        <div class="col-md-8">
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        {{ form(modifyPwdForm) }}
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}
